
{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block body %}

<form action="{% url 'chpasswd:chpasswd_change' %}" 
      method="post" 
      class="form-horizontal">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Change Password" %}</legend>

    {% if msg != None %}
      <div class="alert alert-{{ success|yesno:"success,error,info" }}">
        {{ msg }}
      </div>
    {% endif %}

    <div class="control-group">
      <label class="control-label" for="user">{% trans "Username" %}</label>
      <div class="controls">
        <input id="user" name="user" type="text" placeholder="Username" class="input-large" required="">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="old_pass">{% trans "Current Password" %}</label>
      <div class="controls">
        <input id="old_pass" name="old_pass" type="password" 
               placeholder="{% trans "Current Password" %}"
               class="input-large" required="">
        <span class="help-inline"></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="new_pass1">{% trans "New Password" %}</label>
      <div class="controls">
        <input id="new_pass1" name="new_pass1" type="password" 
               placeholder="{% trans "New Password" %}"
               class="input-large" required="" minlength="8"
               data-validation-callback-callback="pw_must_not_contain_username">
      </div>
    </div>

    <div class="control-group">
      <div class="controls" id="pwstrength">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="new_pass2">{% trans "New Password (repeat)" %}</label>
      <div class="controls">
        <input id="new_pass2" name="new_pass2" type="password" 
               placeholder="{% trans "New Password (repeat)" %}"
               class="input-large" required=""
               data-validation-matches-match="new_pass1" 
               data-validation-matches-message="{% trans "Must match password entered above" %}" >
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary pull-right">{% trans "Change Password" %}</button>
    </div>
  </fieldset>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}components/zxcvbn/zxcvbn-async.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}components/jqBootstrapValidation-1.3.7.min.js/index.js"></script>
<script type="text/javascript">
  function pw_must_not_contain_username($el, value, callback) {
    username = $('#user').val();
    callback({
      value: value,
      valid: !(value.indexOf(username) !== -1) || username == '',
      message: "{% trans "Password must not contain username!" %}"
    });
  }
  // FIXME: add function crack_time_display() that does the crack time
  //        calculation with i18n
  $(document).ready(function () {
      $('#new_pass1').keyup(function() {
        result = zxcvbn($('#new_pass1').val())
        //console.log("Entropy: "+result.entropy)
        //console.log("Crack time: "+result.crack_time_display)
        switch(result.score) {
            case 0: 
              $('#pwstrength').text("{% trans 'Password is very Weak' %}");
              break;
            case 1: 
              $('#pwstrength').text("{% trans 'Password is weak' %}");
              break;
            case 2: 
              $('#pwstrength').text("{% trans 'Password is medium' %}");
              break;
            case 3: 
              $('#pwstrength').text("{% trans 'Password is strong' %}");
              break;
            case 4: 
              $('#pwstrength').text("{% trans 'Password is very strong' %}");
              break;
        }
      });

      $('input,select,textarea').not('[type=submit]').jqBootstrapValidation();
  });
</script>
{% endblock %}
